@font-face {
	font-family:"OpenSansRegular";
	src:url("fonts/OpenSansRegular.eot");
	src:url("fonts/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
	url("fonts/OpenSansRegular.woff") format("woff"),
	url("fonts/OpenSansRegular.ttf") format("truetype");
	font-style:normal;
	font-weight:normal
}
/* Добавляем фон меню */
.header-nav {
	background-color: #39844a;
	overflow: hidden
}

/* Стиль ссылок в меню */
.header-nav a {
	float: left;
	display: block;
	color: #ffffcc;
	cursor: pointer;
	text-align: center;
	padding: 8px 10px;
	white-space: normal;
	text-decoration: none;
	font-size: 1.1em
}

.header-nav .bar_title {
	width: 100%;
	display: none
}

.header-nav .bar_title>div {
	display: table-cell;
	font-weight: bold;
	white-space: normal;
	padding: 7px 9px;
	color: #ffffcc;
	text-shadow: #000 1px 1px 1px
}

.header-nav .title {
	text-align: left;
	font-size: 1.1em
}

/* Скрываем ссылку на открытие|закрытие меню в мобильной версии */
.header-nav .btn_title {
	width: 17px;
	cursor: pointer;
	text-align: right;
	font-size: 1.3em;
	content: '';
	transition: 0.5s;
}

.header-nav .btn_title:after {
	content: attr(data-open);
	transition: 0.5s;
}

/* Выпадающее меню */
.header-dropdown {
	float: left;
	overflow: hidden;
}

/* Стиль кнопки выпадающего меню */
.header-dropdown .header-dropbtn {
	display: block;
	cursor: pointer;
	font-size: 1.1em;
	white-space: normal;
	color: #ffffcc;
	text-align: center;
	padding: 8px 10px
}

/* Стиль содержимого окна выпадающего меню (скрыто по умолчанию) */
.header-dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffffcc;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 9999;
}


/* Стиль ссылок выпадающего меню */
.header-dropdown-content a {
	float: none;
	color: #2a5535;
	padding: 10px 14px;
	text-decoration: none;
	display: block;
	text-align: left;
	transition: 1s;
}

/* Стиль при наведении в меню, кнопки выпадающего меню и мобильной кнопки */
.header-nav .btn_title:hover,
.header-nav a:hover,
.header-dropdown:hover .header-dropbtn {
	background-color: #50a55c;
	color: white;
	transition: 0.5s;
}

/* Стиль при наведении в выпадающем меню */
.header-dropdown-content a:hover {
	background-color: #45955a;
	color: #ffffcc;
	transition: 0.5s;
}

/* Показываем выпадающее меню при наведении на кнопку */
.header-dropdown:hover .header-dropdown-content {
	display: block;
}

/* Меняем стили при уменьшении ширины окна да ххх px */
@media screen and (max-width:885px) {

	.header-nav a,
	.header-dropdown .header-dropbtn {
		display: none
	}

	.header-nav .bar_title {
		display: table
	}

	.header-nav.responsive {
		position: relative
	}

	.header-nav.responsive .bar_title {
		border-bottom: 1px solid #ffffcc;
		position: relative
	}

	.header-nav.responsive .btn_title:after {
		content: attr(data-close)
	}

	.header-nav.responsive a {
		float: none;
		display: block;
		text-align: left
	}

	.header-nav.responsive .header-dropdown {
		float: none
	}

	.header-nav.responsive .header-dropdown-content {
		position: relative
	}

	.header-nav.responsive .header-dropdown .header-dropbtn {
		display: block;
		width: 100%;
		text-align: left
	}
}

.ilustration {
	position: relative;
}

.first {
	padding-left: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.second {
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	float: right;
}

.aside {
	background-color: #39844a;
}

.btn {
	background-color: #39844a;
	color: #ffffcc;
	border: #39844a;
	font-size: 1.1em
}

.btn:hover {
	background-color: #45955a;
	color: #ffffcc;
	transition: 0.5s;
}

.btn:focus {
	background-color: #45955a;
	color: #ffffcc;
	transition: 0.5s;
}

.wrapper {
	border: 2px solid #9ce7cd;
	height: 300px;
	background-color: #9ce7cd;
}

.footerLinks1 {
	text-align: center;
}

.footerLinks1 a {
	text-decoration: none;
	color: black;
	padding-left: 30px;
	padding-right: 30px;

}

.footerLinks2 {
	text-align: center;
}

.footerLinks2 a {
	text-decoration: none;
	color: black;
	padding-left: 30px;
	padding-right: 30px;
}

.linksWrapper {
	border: 1px solid black;
}

.link1 {
	border-right: 1.5px solid black;
}

.slider-wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

.slider-backgrnd {
	background-color: #ecf0f1;
}

.card {
	margin-left: 10%;
	margin-top: 5%;
	width: 18rem;
}

.header-card {
	text-align: center;
}

.header-wrapper {
	width: auto;
	background-color: #39844a;
}

.span-name {
	color: red;
	font-size: 3vh;
	text-transform: uppercase;
}

.carousel-inner {
	width: 100%;
}

.block-wrapper {
	background-image: url(/images/bg1.jpg);
	margin-bottom: 5%;
}

.copyright-text {
	font-size: 0.7rem;
}

.footer {
	margin-bottom: 1%;
}

.body {
	font-family: 'Open Sans', sans-serif;
	background-image: url(/images/bg1.jpg)
}